<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Buyer-Address-page-to-proceed-to buy</title>

     <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="https://kit.fontawesome.com/f95d549ed4.js" crossorigin="anonymous"></script>
    <style>
        input{
        padding:10px;
        margin:10px;
            }
        form {
        padding:20px;
            }
        .container {
            padding:50px;
            margin:60px;
                }
        h1 {
        color:white;
        font-weight:bold;
            }
        button {
            padding:10px;
            width:100px;
            margin:20px;
                }
    </style>
</head>
<body>
  <div class="main-page">
      <center>
    <div class="container bg-danger">
      <form method="post" action="">{% csrf_token %}
          <h1>Add Delivery Address</h1>
          <input type="text" name="fullname" placeholder="Full Name" required><br>
          <input type="text" name="addressline1" placeholder="Address Line 1" required><br>
          <input type="text" name="addressline2" placeholder="Address Line 2" required><br>
          <input type="text" name="street" placeholder="Street name" required><br>
          <input type="number" name="phone" placeholder="Phone Number" required><br>
          <input type="text" name="pin" placeholder="Pin Code" required><br>
          <button type="submit">Save</button>
      </form>
    </div>
    </center>
  </div>
</body>
</html>